/.DS_Store
/node_modules
/build
/.svelte-kit
/package
/assets
/test-db
/.vercel
.env
.env.*
!.env.example
*.code-workspace
*.pem
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
static/test.db
static/test.db-*
